{
  "MongoDbSettings": {
    "ConnectionString": "YOUR_CONNECTION_STRING_HERE",
    "DatabaseName": "microgrid_db"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}