{
  "MongoDbSettings": {
    "ConnectionString": "mongodb://localhost:27017",
    "DatabaseName": "microgrid_db_suwani_test"
  },
  "JwtSettings": {
    "Issuer": "MicrogridApi",
    "Audience": "MicrogridClients",
    "SecretKey": "LOCAL_DEV_ONLY_CHANGE_ME_32CHARS_MIN_ABCDEF",
    "ExpiryMinutes": 480
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
